{% extends 'base.html' %}
{% block content %}

<div id="pet-bars">
	<!--insert pet bars here -->
</div>

<div id="pet-photo">
	<!--insert pet iamge here -->
</div>
<div id="pet-info">
	<p>PET DETAILS PAGE</p>
	<p>{{ digipet.name }}</p>
  <p>Species: {{ digipet.species }}</p>
  <p>Personality: {{ digipet.personality }}</p>
  <p>Birthday: {{ digipet.birthday }}</p>
</div>

<div id="pet-buttons">
	<!--insert pet buttons here -->
	<button>feed</button>
	<button>walk</button>
	<button>play</button>
	<button>wash</button>
</div>

<div>
	<a>Home</a>
	<a>Settings</a>
</div>


{% endblock %}