{%  extends 'base.html' %}
{% block content %}
<div class="w-full min-h-screen bg-orange-100 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <div
    class=" bg-cover bg-center scale-125 justify-center mb-20"
    id="logo"
    > </div>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <p>
        <input 
        type="text" 
        name="username" 
        autofocus="" 
        autocapitalize="none" 
        autocomplete="username" 
        maxlength="150" 
        required="" 
        id="id_username" 
        placeholder="Email-Address" 
        class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-lg shadow-sm disabled:bg-gray-100 my-4 block w-full">  
      </p>
      <p>
        <input 
        type="password" 
        name="password" 
        autocomplete="current-password" 
        required="" 
        id="id_password" 
        placeholder="Password" 
        class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-lg shadow-sm disabled:bg-gray-100 my-4 block w-full"> 
      </p>
      <div class="mt-6">
        <input 
          type="submit" 
          value="Login" 
          class="nunito w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-lg  capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition text-xl" >
      </div>
      <div class="mt-6 text-center">
        <a href="{% url 'signup' %}" class="underline nunito text-xl">Sign Up</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}