
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Digipets</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <div 
    class="bg-cover bg-center main container"
    id="homebackground">
    <div class=" bg-cover bg-center centered-div scale-125" id="logo"></div>
    </div>
    <meta http-equiv="refresh" content="3;url=accounts/login/">

</body>
</html>