{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="pet-bars">
	<!--insert pet bars here -->
</div>

<div id="pet-photo">
</div>
<div id="pet-info">
	<p>PET DETAILS PAGE</p>
	<p>{{ digipet.name }}</p>
  <p>Species: {{ digipet.species }}</p>
  <p>Personality: {{ digipet.personality }}</p>
  <p>Birthday: {{ digipet.birthday }}</p>
</div>

<div id="pet-buttons">
	<!--insert pet buttons here -->
	<button>feed</button>
	<button>walk</button>
	<button>play</button>
	<button>wash</button>
	
</div>

<div>
	<a>Home</a>
	<a>Settings</a>
	<a href="{% url 'digipets_update' digipet.id %}">Edit ME</a>
	<a href="{% url 'digipets_delete' digipet.id %}">Delete ME</a>
</div>

<script>
	let animalImage = "{{digipet.image}}";
	document.getElementById('pet-photo').style.backgroundImage = "url('"+ animalImage +"')";
</script>


{% endblock %}


<!-- this is a test -->