{% extends 'base.html' %}
{% block content %}
{% load static %}





<div class="flex h-screen w-screen items-center justify-center bg-orange-100 from-violet-900 to-teal-400">
  <div class="p-8 w-11/12 cursor-pointer rounded-3xl bg-yellow-600 transition duration-300 ease-in-out hover:scale-105 hover:drop-shadow-2xl">
    <div class="-mb-20 -translate-y-1/2 transform">
			{% if digipet.species == "C" %}
      	<img class="mx-auto h-64 " src="{% static "digipets\assets\animals\corgi\1.svg" %}">  
    	{% elif digipet.species == "H" %}
      	<img class="mx-auto h-64 " src="{% static "digipets\assets\animals\husky\1.svg" %}">
    	{% elif digipet.species == "O" %}
      	<img class="mx-auto h-64 " src="{% static "digipets\assets\animals\otter\1.svg" %}">
    	{% endif %}
    </div>
    <div class="text-center">
      <h3 class="text-center text-4xl nunito ">{{ digipet.name }}</h3>
      <!-- <span class="text-sm nunito">Put Level Here</span> -->
    </div>
    <ul class="mt-16 mb-20 flex justify-center text-center text-2xl">
      <li class="flex flex-col">
				<div class=" flex justify-center items-center">
  <div class="grid grid-flow-row gap-10 w-full">
    <div class="flex items-center justify-around">
      <div class="">
        <p></p>
        <a href="{% url 'digipets_feed' digipet.id %}"><button
                class="p-0 w-16 h-16 bg-amber-100 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
								<div class="text-white nunito"> &#127831 </div>     
        </button></a>
    </div>
  </div>
</div>
			</li>
			<li class="mx-6 flex flex-col">
				<div class=" flex justify-center items-center">
					<div class="grid grid-flow-row gap-10 w-full">
						<div class="flex items-center justify-around">
							<div class="">
								<p></p>
								<button
												class="p-0 w-16 h-16 bg-amber-100 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
												<div class="text-white nunito"> &#127952 </div>     
								</button>
						</div>
					</div>
				</div>
			</li> 
			<li class="flex flex-col">
				<div class=" flex justify-center items-center">
					<div class="grid grid-flow-row gap-10 w-full">
						<div class="flex items-center justify-around">
							<div class="">
								<p></p>
								<button
												class="p-0 w-16 h-16 bg-amber-100 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
												<div class="text-white nunito"> &#127939 </div>     
								</button>
						</div>
					</div>
				</div>
			</li>
    </ul>
    <div class="text-center">
      <a href="{% url 'digipets_update' digipet.id %}"><button class="rounded-xl bg-amber-100 px-24 py-2 text-black my-2 nunito">Edit {{ digipet.name }}</button></a>
    </div>
		<div class="text-center">
      <a href="{% url 'digipets_delete' digipet.id %}"><button class="rounded-xl bg-red-600 px-24 py-2 text-black my-2 nunito">Send Away</button></a>
    </div>
  </div>
</div>


{% endblock %}