{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="h-screen bg-orange-100">
{% for digipet in digipets %}
<a href ="{% url 'detail' digipet.id %}">
  <div class="w-screen bg-orange-100 flex flex-row flex-wrap p-3">
    <div class="mx-auto w-11/12">
      <!-- Profile Card -->
      <div class="rounded-lg shadow-lg bg-yellow-600 w-full flex flex-row flex-wrap p-3 antialiased" style="
  background-image: ;
  background-repeat: no-repat;
  background-size: cover;
  background-blend-mode: multiply;
  ">
  <div class="md:w-1/3 w-1/6  ">
    {% if digipet.species == "C" %}
      <img class="rounded-lg  antialiased " src="{% static "digipets\assets\animals\corgi\1.svg" %}">  
    {% elif digipet.species == "H" %}
      <img class="rounded-lg  antialiased " src="{% static "digipets\assets\animals\husky\1.svg" %}">
    {% elif digipet.species == "O" %}
      <img class="rounded-lg  antialiased " src="{% static "digipets\assets\animals\otter\1.svg" %}">
    {% endif %}
  </div>
  <div class="md:w-2/3 w-5/6 px-3 flex flex-row flex-wrap">
    <div class="w-full text-right text-gray-700 font-semibold relative pt-3 md:pt-0">
      <div class="text-2xl text-white leading-tight nunito"> {{ digipet.name }} </div>
      <div class="text-normal text-white hover:text-gray-400 cursor-pointer"><span class="border-b border-dashed border-white pb-1 nunito">Personality: {{digipet.get_personality_display}}</span></div>
      <div class="text-normal text-white hover:text-gray-400 cursor-pointer"><span class="border-b border-dashed border-white pb-1 nunito">Birthday: {{digipet.birthday}}</span></div>
      {% if digipet.mood == "Ha" %}
      <div class="text-sm text-white hover:text-gray-400 cursor-pointer md:absolute pt-3 md:pt-0 bottom-0 right-0 nunito">Mood: <b> Hungry </b></div>
      {% else %}
      <div class="text-sm text-white hover:text-gray-400 cursor-pointer md:absolute pt-3 md:pt-0 bottom-0 right-0 nunito">Mood: <b>  {{ digipet.mood }} </b></div>
      {% endif %}
    </div>
  </div>
</div>
<!-- End Profile Card -->
</div>
</div>
</a>
{% endfor %}
</div>
{% endblock %}